.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#start {
  background-color: skyblue;
}